.cf7adb li {
	display: inline-block;
}

.cf7adb li a {
	padding: 4px 8px;
	margin-right: 4px;
	background: rgba( 220,220,220, .8 );
}

.cf7adb li a:hover {
	text-decoration: none;
	background: rgba( 255,255,255, 1 );
}